fish/.config/fish/fishd.*
fish/.config/fish/completions
fish/.config/fish/functions/fish_mode_prompt.fish
fish/.config/fish/functions/fish_prompt.fish
fish/.config/fish/functions/fish_right_prompt.fish
nvim/.config/nvim/plugged
